@font-face
  font-family: 'vt220';
  src: url('/Glass_TTY_VT220.ttf') format('truetype');


.vt220 
  font-family: 'vt220';

.distort
  filter: url(#distort);

.correct 
  filter: url(#correct);

.glass
  z-index: 3
  background: radial-gradient(circle, red 0%, black 135%);

.brightness-contrast
  background: black
  filter: url(#brightness-contrast)

.intensity-bloom
  filter: url(#intensity-bloom)

.beam-bloom
  filter: url(#beam-bloom)

.scan-bloom
  filter: url(#scan-bloom)

.gradient-filter
  filter: url(#gradient-filter)