@font-face
  font-family: 'vt220';
  src: url('/Glass_TTY_VT220.ttf') format('truetype');


.vt220 
  font-family: 'vt220';

.distort
  filter: url(#distort);

.correct 
  filter: url(#correct);

.glass
  position: relative;
  .front
    content: ''
    z-index: 1
    height: 100%
    display: block
    position: absolute
    pointer-events: none
    top: 0
    left: 8px
    background: radial-gradient(circle, rgba(200,200,200,0.2) 0%, transparent 85%, black 110%)


.brightness-contrast
  background: black
  filter: url(#brightness-contrast)

.intensity-bloom
  filter: url(#intensity-bloom)

.beam-bloom
  filter: url(#beam-bloom)

.scan-bloom
  filter: url(#scan-bloom)

.gradient-filter
  filter: url(#gradient-filter)