@keyframes blink
  0%
    background-color: var(--off-color)
    box-shadow: 0px 0px 0px transparent

  20%, 70%
    background-color: var(--on-color)
    box-shadow: 0px 0px 50px var(--on-color)

  100%
    background-color: var(--off-color)
    box-shadow: 0px 0px 0px transparent